@media (min-width:1200px) {
    .about-us {
        display: flex;
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        /* justify-content: space-between  ; */
    }

    .about-down {
        display: flex;
        margin-top: 25px;
        flex-direction: row;
        /* background-color: blue; */
        width: 90%;
        height: 370px;
        justify-content: space-around;
    }

    .about-down>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* margin-right: 20px; */
        width: 23%;
    }

    .about-down>div>p {
        text-align: justify;
        box-sizing: border-box;
        padding-right: 10px;
    }

    .about-up {
        font-family: iran-sans;
        font-size: 28px;
    }

    .about-down>div>span {
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media (min-width:990px) and (max-width:1200px) {
    .about-us {
        display: flex;
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        /* justify-content: space-between  ; */
    }

    .about-down {
        display: flex;
        margin-top: 25px;
        flex-direction: row;
        /* background-color: blue; */
        width: 90%;
        height: 370px;
        justify-content: space-around;
    }

    .about-down>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* margin-right: 20px; */
        width: 23%;
    }

    .about-down>div>p {
        text-align: justify;
        box-sizing: border-box;
        padding-right: 10px;
    }

    .about-up {
        font-family: iran-sans;
        font-size: 28px;
    }

    .about-down>div>span {
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media (min-width:768px) and (max-width:990px) {
    .about-us {
        display: flex;
        margin-top: 10px;
        width: inherit;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        /* justify-content: space-between  ; */
    }

    .about-down {
        display: flex;
        margin-top: 15px;
        flex-direction: row;
        /* background-color: blue; */
        width: 90%;
        height: 370px;
        justify-content: space-around;
    }

    .about-down>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* margin-right: 20px; */
        width: 23%;
    }

    .about-down>div>p {
        text-align: justify;
        box-sizing: border-box;
        padding-right: 10px;
        font-size: 13px;
    }

    .about-up {
        font-family: iran-sans;
        font-size: 22px;
    }


    .about-down>div>span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
    }
}

@media (min-width:560px) and (max-width:768px) {
    .about-us {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        /* justify-content: space-between  ; */
    }

    .about-down {
        display: flex;
        margin-top: 5px;
        flex-direction: row;
        /* background-color: blue; */
        width: 90%;
        height: 550px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .about-down>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        /* margin-right: 20px; */
        width: 40%;
    }

    .about-down>div>p {
        text-align: justify;
        box-sizing: border-box;
        /* padding-right: 10px; */
    }

    .about-up {
        font-family: iran-sans;
        font-size: 20px;
    }

    .about-down>div>span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }
    .about-down>div>img{
        width: 40px;
        height: 40px;
    }
}

@media (min-width:0px) and (max-width:560px) {
    .about-us {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        /* justify-content: space-between  ; */
    }

    .about-down {
        display: flex;
        margin-top: 5px;
        flex-direction: row;
        /* background-color: blue; */
        width: 90%;
        height: 600px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .about-down>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        /* margin-right: 20px; */
        width: 40%;
    }

    .about-down>div>p {
        text-align: justify;
        box-sizing: border-box;
        /* padding-right: 10px; */
        font-size: 12px;
    }

    .about-up {
        font-family: iran-sans;
        font-size: 20px;
    }

    .about-down>div>span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }
    .about-down>div>img{
        width: 40px;
        height: 40px;
    }
}