@media (min-width:1200px) {
       
.hyape {
    width: inherit;
    padding-top: 80px;
    height: 450px;
    /* background-color: violet; */
    background-image: url(../image/Rectangle\ 33\ copy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* padding-left: 50px; */
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.h-right {
    width: 35%;
    height: 80%;
    /* background-color: turquoise; */
}

.right-up {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.right-up>input {
    width: 47%;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 3px;
    border-width: 0px;
    box-sizing: border-box;
    padding-left: 10px;
    /* color: black; */
}

.h-left {
    width: 40%;
    /* background-color: tomato; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 30px; */
}

.right-down {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-down>input:nth-of-type(1) {
    /* width: inherit; */
    margin-bottom: 25px;
    border-width: 0px;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

.send {
    width: 120px;
    height: 40px;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: #378cc4;
    color: white;
    border-radius: 3px;
    transition: all linear 300ms;
    /* align-items: flex-start; */
}

.send:hover {
    background-color: #105e92;
}

.left-up>span,
.left-up>span>span {
    font-size: 42px;
    font-weight: bold;
}

.left-up>p:nth-of-type(1) {
    font-size: 23px;
    color: white;
    margin-top: 33px;
    margin-bottom: 18px;
}

.left-up>p {
    color: white;
}

.left-down {
    width: 100%;
    height: 35px;
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.left-down>a {
    /* background-color: white; */
    box-sizing: border-box;
    width: 32px;
    /* padding-top: 6px; */
    text-align: center;
    height: 32px;
    display: flex;
    color: #d6c9c2;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    text-decoration: none;
    /* transition: all linear; */
}

.left-down>a:hover {
    border: 2px solid #30679f;
}

.footer {
    background-color: black;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer>p {
    color: white;
}
}

@media (min-width:990px) and (max-width:1200px) {
       
.hyape {
    width: inherit;
    padding-top: 80px;
    height: 450px;
    /* background-color: violet; */
    background-image: url(../image/Rectangle\ 33\ copy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* padding-left: 50px; */
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.h-right {
    width: 35%;
    height: 80%;
    /* background-color: turquoise; */
}

.right-up {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.right-up>input {
    width: 47%;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 3px;
    border-width: 0px;
    box-sizing: border-box;
    padding-left: 10px;
    /* color: black; */
}

.h-left {
    width: 40%;
    /* background-color: tomato; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 30px; */
}

.right-down {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-down>input:nth-of-type(1) {
    /* width: inherit; */
    margin-bottom: 25px;
    border-width: 0px;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

.send {
    width: 120px;
    height: 40px;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: #378cc4;
    color: white;
    border-radius: 3px;
    transition: all linear 300ms;
    /* align-items: flex-start; */
}

.send:hover {
    background-color: #105e92;
}

.left-up>span,
.left-up>span>span {
    font-size: 42px;
    font-weight: bold;
}

.left-up>p:nth-of-type(1) {
    font-size: 23px;
    color: white;
    margin-top: 33px;
    margin-bottom: 18px;
}

.left-up>p {
    color: white;
}

.left-down {
    width: 100%;
    height: 35px;
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.left-down>a {
    /* background-color: white; */
    box-sizing: border-box;
    width: 32px;
    /* padding-top: 6px; */
    text-align: center;
    height: 32px;
    display: flex;
    color: #d6c9c2;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    text-decoration: none;
    /* transition: all linear; */
}

.left-down>a:hover {
    border: 2px solid #30679f;
}

.footer {
    background-color: black;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer>p {
    color: white;
}
}

@media (min-width:768px) and (max-width:990px) {
     
.hyape {
    width: inherit;
    padding-top: 80px;
    height: 450px;
    /* background-color: violet; */
    background-image: url(../image/Rectangle\ 33\ copy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* padding-left: 50px; */
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.h-right {
    width: 35%;
    height: 80%;
    /* background-color: turquoise; */
}

.right-up {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.right-up>input {
    width: 47%;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 3px;
    border-width: 0px;
    box-sizing: border-box;
    padding-left: 10px;
    /* color: black; */
}

.h-left {
    width: 40%;
    /* background-color: tomato; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 30px; */
}

.right-down {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-down>input:nth-of-type(1) {
    /* width: inherit; */
    margin-bottom: 25px;
    border-width: 0px;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

.send {
    width: 120px;
    height: 40px;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: #378cc4;
    color: white;
    border-radius: 3px;
    transition: all linear 300ms;
    /* align-items: flex-start; */
}

.send:hover {
    background-color: #105e92;
}

.left-up>span,
.left-up>span>span {
    font-size: 38px;
    font-weight: bold;
}

.left-up>p:nth-of-type(1) {
    font-size: 16px;
    color: white;
    margin-top: 33px;
    margin-bottom: 18px;
}
.left-up>p:nth-of-type(2) {
font-size: 13px;
}



.left-up>p {
    color: white;
}

.left-down {
    width: 100%;
    height: 35px;
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.left-down>a {
    /* background-color: white; */
    box-sizing: border-box;
    width: 32px;
    /* padding-top: 6px; */
    text-align: center;
    height: 32px;
    display: flex;
    color: #d6c9c2;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    text-decoration: none;
    /* transition: all linear; */
}

.left-down>a:hover {
    border: 2px solid #30679f;
}

.footer {
    background-color: black;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer>p {
    color: white;
}
}

@media (min-width:560px) and (max-width:768px) {
     
.hyape {
    width: inherit;
    padding-top: 80px;
    height: 450px;
    /* background-color: violet; */
    background-image: url(../image/Rectangle\ 33\ copy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* padding-left: 50px; */
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.h-right {
    width: 35%;
    height: 80%;
    /* background-color: turquoise; */
}

.right-up {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.right-up>input {
    width: 47%;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 3px;
    border-width: 0px;
    box-sizing: border-box;
    padding-left: 10px;
    /* color: black; */
}

.h-left {
    width: 40%;
    /* background-color: tomato; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 30px; */
}

.right-down {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-down>input:nth-of-type(1) {
    /* width: inherit; */
    margin-bottom: 25px;
    border-width: 0px;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

.send {
    width: 120px;
    height: 40px;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: #378cc4;
    color: white;
    border-radius: 3px;
    transition: all linear 300ms;
    /* align-items: flex-start; */
}

.send:hover {
    background-color: #105e92;
}

.left-up>span,
.left-up>span>span {
    font-size: 38px;
    font-weight: bold;
}

.left-up>p:nth-of-type(1) {
    font-size: 16px;
    color: white;
    margin-top: 33px;
    margin-bottom: 18px;
}
.left-up>p:nth-of-type(2) {
font-size: 13px;
}



.left-up>p {
    color: white;
}

.left-down {
    width: 100%;
    height: 35px;
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.left-down>a {
    /* background-color: white; */
    box-sizing: border-box;
    width: 32px;
    /* padding-top: 6px; */
    text-align: center;
    height: 32px;
    display: flex;
    color: #d6c9c2;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    text-decoration: none;
    /* transition: all linear; */
}

.left-down>a:hover {
    border: 2px solid #30679f;
}

.footer {
    background-color: black;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer>p {
    color: white;
    font-size: 13px;

}
}

@media (min-width:0px) and (max-width:560px) {
       
.hyape {
    width: inherit;
    padding-top: 80px;
    height: 450px;
    /* background-color: violet; */
    background-image: url(../image/Rectangle\ 33\ copy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* padding-left: 50px; */
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.h-right {
    width: 35%;
    height: 80%;
    /* background-color: turquoise; */
}

.right-up {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.right-up>input {
    width: 47%;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 3px;
    border-width: 0px;
    box-sizing: border-box;
    padding-left: 10px;
    /* color: black; */
}

.h-left {
    width: 40%;
    /* background-color: tomato; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 30px; */
}

.right-down {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-down>input:nth-of-type(1) {
    /* width: inherit; */
    margin-bottom: 25px;
    border-width: 0px;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

.send {
    width: 120px;
    height: 40px;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: #378cc4;
    color: white;
    border-radius: 3px;
    transition: all linear 300ms;
    /* align-items: flex-start; */
}

.send:hover {
    background-color: #105e92;
}

.left-up>span,
.left-up>span>span {
    font-size: 38px;
    font-weight: bold;
}

.left-up>p:nth-of-type(1) {
    font-size: 16px;
    color: white;
    margin-top: 33px;
    margin-bottom: 18px;
}
.left-up>p:nth-of-type(2) {
font-size: 13px;
}



.left-up>p {
    color: white;
}

.left-down {
    width: 100%;
    height: 35px;
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.left-down>a {
    /* background-color: white; */
    box-sizing: border-box;
    width: 32px;
    /* padding-top: 6px; */
    text-align: center;
    height: 32px;
    display: flex;
    color: #d6c9c2;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    text-decoration: none;
    /* transition: all linear; */
}

.left-down>a:hover {
    border: 2px solid #30679f;
}

.footer {
    background-color: black;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer>p {
    color: white;
    font-size: 13px;
}
}
